/* .carousel-inner {
    width: 50%;
    margin: 0 auto;
}

img {
    max-width: 80%;
} */

/*Old main color: #002d4b */
body{
    background-color: #f6f6f6;
    font-family: 'Conv_Roboto-Regular'; 
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
}


h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    color: #093B5B;
}

h6, .h6{
    line-height: 140%;
}

h1, h2,
.h1, .h2 {
    font-family: 'Conv_Roboto-Light';
}

h3, h4, h5, h6,
.h3, .h4, .h5, .h6 {
    font-family: 'Conv_Roboto-Medium';
}